.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.logoContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.uploadAndSignInContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}